.blu{
  background-color: #2C3E50;
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index: 10;
}
.cado ul li a{
  padding:10px;
  color:#fff;
}
.cado ul li{
  display: inline-block;
  padding-top: 45px;
}
.cattu h2{
  color:#fff;
  padding:20px;
}
.verde{
  background-color: #1ABC9C;
  height:750px;
  margin-top:102px;
}
.text-center{
  padding-top:100px;
}
.mrg{
  margin-top:50px;
}
.cavo h2{
  margin-top: 50px;
  text-align: center;
  font-size: 50px;

}
.biancoo{
width:50%;
margin:auto;
height:300px;
margin-top:50px;
padding:40px;
}
#coloree{
 background-color: #1ABC9C;
 height:600px;
}
.cava h2{
  color:#fff;
}
.fony{
  font-size: 20px;
  color:#fff;
  padding-top: 35px;


}
.CINQUANTA{
  width:50%;
  margin:auto;
}
.paragrafo p{
  font-size:25px;
  padding-bottom:30px;
  border-bottom: 1px solid lightgrey;
}
.contact h3{
  font-size:50px;
  padding:30px ;
  margin-bottom: 30px;
  text-align: center;

}
.dodici a{
padding:15px;
font-size: 25px;
background-color: #159A80;
border-radius:10px;
color: #fff;

}
.spazii{
padding-bottom: 80px;
}
.footer-bottom{
  text-align: center;
  background-color: #1D252E;

}
.footer-top{
 background-color: #2C3E50;
}
.bbanco{
  color:#fff;
  padding:10px;
}
.paddd{
  padding:50px;
}
footer{
  margin-top:30px;
}
